<h1><%= t('views.users.show.title') %></h1>

<h3><%= t('views.users.show.user_name') %></h3>
<%= @user.name %>
<h3><%= t('views.users.show.mail_address') %></h3>
<%= @user.email %>
<h3><%= t('views.devise.registrations.new.postal_code') %></h3>
<%= @user.postal_code %>
<h3><%= t('views.devise.registrations.new.address') %></h3>
<%= @user.address %>
<h3><%= t('views.devise.registrations.new.introduction') %></h3>
<%= @user.introduction %>
