<p style="color: green"><%= notice %></p>

<h1><%= t('views.common.index_title',resource: Book.model_name.human) %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('views.common.show',resource: Book.model_name.human), book %>
    </p>
  <% end %>
</div>

<%= link_to t('views.common.new',resource: Book.model_name.human), new_book_path %>
