<p style="color: green"><%= notice %></p>

<h1><%= t('books.index_title') %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('books.show_book'), book %>
    </p>
  <% end %>
</div>

<%= link_to t('books.new_book'), new_book_path %>
