<p style="color: green"><%= notice %></p>

<h1><%= t('activerecord.attributes.books.index_title',resource: t('activerecord.attributes.books.title')) %></h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('activerecord.attributes.books.show',resource: t('activerecord.attributes.books.title')), book %>
    </p>
  <% end %>
</div>

<%= link_to t('activerecord.attributes.books.new',resource: t('activerecord.attributes.books.title')), new_book_path %>
