<h1><%= @report.title %></h1>
<p><%= @report.content %></p>

<%= render 'comments/form', commentable: @report, comment: @comment %>
<%= render 'comments/comments', commentable: @report, comments: @comments %>

<% if current_user == @report.user %>
  <%= button_to t('views.common.edit',name: Report.model_name.human), edit_report_path(@report), method: :get %>
  <%= button_to t('views.common.destroy',name: Report.model_name.human), report_path(@report), method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
<% end %>
<%= link_to t('views.common.back',name: Report.model_name.human), reports_path %>
